
html {
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100vh;
}

#card {
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

#card > div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


#card p {
    font-size: 32pt;
    padding: 25px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

#new-task {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 50px;
}
        
#new-task > div {
    display: grid;
    grid-template-rows: 1fr 50px;
}
